{{#if tracks}}

  <table class="ui unstackable striped table">
    <thead>
      <tr>
        <th>Track</th>
        <th>Artist</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each tracks}}
        <tr>
          <td>
            {{ title}}
          </td>
          <td>
            {{artist}}
          </td>
           <td class="center aligned">
            <a href="/playlist/{{../id}}/deletesong/{{id}}" 
			        title="Delete track">
              <i class="ui black trash icon"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  {{else}}
    <h3 class="ui message">
      Empty Album
    </h3>

{{/if}}
